# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
/.vscode
/.idea
*.swp
*.swo
*.bak

# Firebase
/.firebase
/firebase-debug.log
/ui-debug.log

# Angular
/.angular

# Environment
.env
.env.*
src/environments/environment.ts
src/environments/environment.development.ts
