.login-container {
  max-width: 450px;
  margin-top: 50px;
}

.label-hint {
  opacity: 0.6;
}

.login-btn {
  width: 100%;
  margin-top: 1rem;
}

.login-footer {
  text-align: center;
  font-size: 0.75rem;
}

.error-text {
  color: var(--mea-red);
  text-align: center;
  margin-top: 10px;
  font-size: 0.75rem;
}
